body {
  background-color: whitesmoke;
}

.loading-spin-container {
  min-height: 320px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.ant-menu {
  display: inline-block;
}

.account-container {
  display: inline-block;
  position: absolute;
  right: 50px;
  line-height: 68px;
}

.account-container .account-modal-title {
  text-align: center;
  display: block;
}

.input-prefix-color {
  color: rgba(0,0,0,.25);
}
