@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app" asp-prerender-module="ClientApp/public/server/main-server">Loading...</div>

@section scripts {
    <script src="~/client/main-client.js" asp-append-version="true"></script>
}
