{
  "presets": [
    "env",
    "stage-0",
    "react",
    "flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}